html {
    background: url('/img/background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.main-container {
    position: absolute;
    display: grid;
    grid-template-rows: 220px 200px;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: rgb(200, 200, 200);
    user-select: none;
}

.title-container {
    width: 100vw;
    text-align: center;
}

.title-container > a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: 200ms;
}

.title-container > a:hover {
    color: rgb(230, 230, 230);
}

.title-container > p > a {
    color: rgba(103, 136, 199, 0.85);
}

.title-container img {
    width: 128px;
    border-radius: 12px;
}

.links-container {
    text-align: center;
}

.links-container > h2 {
    font-weight: 600;
}

.links-container > .links {
    display: flex;
    justify-content: center;
}

.links-container > .links > a {
    margin: 0 4px;
    text-decoration: none;
}

.links-container > .links > a > button {
    background:rgba(103, 136, 199, 0.85);
    width: 80px;
    height: 80px;
    border: 2px solid rgb(103, 137, 199);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    backdrop-filter: blur(2px);
}

.links-container > .links > a > button:hover {
    background:rgba(103, 136, 199, 0.9);
}

.links-container > .links > a > button > img {
    width: 48px;
}